@import url("https://fonts.googleapis.com/css2?family=Rubik+Mono+One&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  transition: 0.4s;
}

html {
  scroll-behavior: smooth;
  scroll-padding-top: 50px;
}

.background {
  background: var(--gray-dark-90010, rgba(17, 24, 39, 0.1));
}

.filter {
  backdrop-filter: blur(12px);
}
